In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_epovvc = pd.read_pickle(r"Q:\Meine Bibliotheken\Research\Projects\Ausgr√ºndungen\02_Data\02_Webdata2IPC\df_epovvc_s1.pkl")

In [4]:
df_epovvc.head(3)

,person_id,crefo,equal,bestcrefo,appln_id,appln_kind,appln_fili,inpadoc_fa,earliest_f,granted,technology,ipc,text,links
0,20,2150355978,1,1,16996827,A,1993-04-07,11221689,1992-04-07,Y,2,H04J 3/00,[->p<-] Intellectual Property & Standards [->p...,"[philips.com,twitter.com,youtube.com,plus.goog..."
1,20,2150355978,1,1,16996827,A,1993-04-07,11221689,1992-04-07,Y,2,H04J 3/06,[->p<-] Intellectual Property & Standards [->p...,"[philips.com,twitter.com,youtube.com,plus.goog..."
2,20,2150355978,1,1,16996827,A,1993-04-07,11221689,1992-04-07,Y,2,H04L 5/22,[->p<-] Intellectual Property & Standards [->p...,"[philips.com,twitter.com,youtube.com,plus.goog..."

In [11]:
# Function to extract relevant data
def func_extractor(df, cols):
    res = df.loc[:, cols].drop_duplicates()
    return res

In [12]:
df = func_extractor(df_epovvc, cols = ['crefo', 'technology', 'text'])

In [13]:
df.head(3)

         crefo technology                                               text
0   2150355978          2  [->p<-] Intellectual Property & Standards [->p...
10  2150355978          3  [->p<-] Intellectual Property & Standards [->p...
20  2150355978          4  [->p<-] Intellectual Property & Standards [->p...